body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

.App {
  padding: 20px;
}

.raw {
  background: #000;
  padding: 20px;
  margin: 20px 0;
}

img {
  width: 100px;
}

canvas {
  max-width: 200px;
  max-height: 100px;
  border: 1px solid #fff7;
}

label {
  display: block;
}

label span {
  margin-left: 10px;
}

.resultImages {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  align-content: center;
  grid-gap: 10px;
}
.resultImages > * {
  position: relative;
  background: #fff1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultImages button {
  position: absolute;
  right: 0;
  top: 0;
}