body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

.App {
  padding: 20px;
}

.raw {
  margin: 20px 0;
}

img {
  width: 100px;
}

canvas {
  height: 100px;
  border: 1px solid #fff7;
}

label {
  display: block;
}

label span {
  margin-left: 10px;
}